@charset "UTF-8";

@font-face {
    font-family: OG;
    src: url(../assets/fontes/OldLondon.ttf);
}
@font-face {
    font-family: Tag;
    src: url(../assets/fontes/WaxedtownGTDemo.ttf);
}

@font-face {
    font-family: Street;
    src: url(../assets/fontes/DOCALLISME\ ON\ STREET.ttf);
}

@font-face {
    font-family: Graffiti;
    src: url(../assets/fontes/GraffitiNewDemoRegular.ttf);
}




::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 23, 23, 0.699);
} 

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    width: 98%;
    height: 98%;
    /* border: 1px solid white; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
}

header > .master_play {
    width: 100%;
    height: 10%;
    background-color: rgb(22, 22, 22);
    box-shadow: 8px 3px 8px black;
}

header > .master_play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header > .master_play > .status_musica {
    display: flex;
    align-items: center;
    width: 250px;
}

header > .master_play > .status_musica > .onda {
    width: 30px;
    height: 30px;
    border: 1 solid white;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header > .master_play > .status_musica > .onda > .onda1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: red; 
    /* animation: onda .7s linear infinite; */
}

header > .master_play > .status_musica > .onda > .onda1:nth-child(2) {
    height: 13px;
    /* animation-delay: .3s; */
}

header > .master_play > .status_musica > .onda > .onda1:nth-child(3) {
    height: 8px;
    /* animation-delay: .5s; */
}

@keyframes onda {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}


/* JAVASCRIPT CLASS WAVE */

header > .master_play > .status_musica > .ativo2 > .onda1 {
    animation: onda .7s linear infinite;
}

header > .master_play > .status_musica > .ativo2 > .onda1:nth-child(2) {
    animation-delay: .3s;
}

header > .master_play > .status_musica > .ativo2 > .onda1:nth-child(3) {
    animation-delay: .5s;
}

header > .master_play > .status_musica > img {
    width: 35px;
    height: 35px;
}

header > .master_play > .status_musica > .capa_musica {
    width: 130px;
    height: 35px;
    margin-left: 10px;
    color: white;
    line-height: 17px;
}

header > .master_play > .status_musica > .capa_musica > .subtitulo {
    width: 130px;
    height: 35px;
    font-size: 14px;  
}
header > .master_play > .status_musica > .bi {
    margin-left: 10px;    
}

header > .master_play > .central {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > .master_play > .central > .icon {
    font-size: 20px;
    color: white;
    margin: 0px 20px 0px 40px;
}

header > .master_play > .central > .icon > .bi {
    cursor: pointer;
    outline: none;
}

header > .master_play > .central > .icon > .bi:nth-child(2) {
    font-size: 25px;
    margin: 0px 5px;
    transition: .3s linear;
}

header > .master_play > .central > .barra_musica {
    display: flex;
    width: 100%;
}

header > .master_play > .central > .barra_musica > span {
    color: white;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header > .master_play > .central > .barra_musica > #atual_comeco {
    margin: 0px 0px 0px 25px;   
}

header > .master_play > .central > .barra_musica > .barra {
    position: relative;
    width: 100%;
    height: 4px;
    background: rgb(168, 168, 168);
    margin: 0px 15px;
    border-radius: 7px;
}

header > .master_play > .central > .barra_musica > .barra > .barra2 {
    position: absolute;
    background: white;
    height: 100%;
    border-radius: 7px;
    top: 0;
}

header > .master_play > .central > .barra_musica > .barra:hover > .barra2 {
    background: red;
}

header > .master_play > .central > .barra_musica > .barra:hover > .ponto {
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    left: 0%;
    top: -2px;
}

header > .master_play > .central > .barra_musica > .barra > input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999;
    opacity: 0;
}

header > .master_play > .opcoes_aba {
    width: 250px;
}

header > .master_play > .opcoes_aba > .vol {
    position: relative;
    height: 3px;
    width: 100px;
    margin-left: 50px;
    background: rgb(168, 168, 168);
}

header > .master_play > .opcoes_aba > .vol > .bi{
    position: absolute;
    color: white;
    font-size: 25px;
    top: -12px;
    left: -30px;
}

header > .master_play > .opcoes_aba > .vol > input {
    position: absolute;
    width: 100%;
    top: -5px;
    left: 0;
    cursor: pointer;
    z-index: 999999;
    opacity: 0;
}

header > .master_play > .opcoes_aba > .vol > .vol_barra {
    position: absolute;
    background: white;
    height: 100%;
    border-radius: 7px;
    top: 0;
}

header > .master_play > .opcoes_aba > .vol:hover > .ponto {
    position: absolute;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
    left: 0%;
    top: -3px;
}

header > .musica_lado {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

header > .musica_lado > nav {
    width: 92%;
    height: 10%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header > .musica_lado > nav > .menu_lado {
    position: relative;
    right: 4%;
    width: 25%;
    /* border: 1px solid rgb(255, 75, 75); */
    background-color: rgb(22, 22, 22);
    /* box-shadow: 5px 0px 2px rgb(255, 75, 75); */
    color: white;
}

header > .musica_lado > nav > .menu_lado > h1 {
    font-size: 45px;
    margin: 25px 0px 0px 20px;
    font-weight: 500;
    font-family: Street;
    cursor: default;
}

header > .musica_lado > nav > ul {
    display: flex;
}

header > .musica_lado > nav > ul > a {
    position: relative;
    text-decoration: none;
    font-size: 13px;
    color: rgb(142, 142, 142);
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
    font-family: Tag;
    letter-spacing: 2px;
}


header > .musica_lado > nav > ul > a:hover {
    color: white;
}

header > .musica_lado > nav > ul > a > span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: red;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header > .musica_lado > nav > .procura {
    position: relative;
    width: 40%;
    padding: 1px 0px;
    border-radius: 20px;
    color: white;
}


header > .musica_lado > nav > .procura::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 79, 79, 0.429);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header > .musica_lado > nav > .procura > label > .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
    cursor: text;
}

header > .musica_lado > nav > .procura > input {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 12px;
    width: 92%;
}

header > .musica_lado > nav > .usuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > .musica_lado > nav > .usuario {
    position: relative;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Tag;
    letter-spacing: 2px;
    font-size: 12.5px;
}

header > .musica_lado > nav > .usuario > img{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 2px 2px 0px rgb(22, 22, 22);
}

/* header > .musica_lado > nav > .usuario > .container_cor {
    display: flex;
    position: relative;
    top: 65px;
    padding: 0 2px;
    box-shadow: 2px 2px 0px rgb(22, 22, 22);
    border: 1.5px solid red;
    border-radius: 10px;
    align-items: center;
}

header > .musica_lado > nav > .usuario > .container_cor > ul {
    width: 90px;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li {
    list-style-type: none;
    padding: 3px 0;
    margin: 2px 0;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    transition: .3s linear;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > a {
    padding: 3px 0;
    margin: 2px 0;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    transition: .3s linear;
    text-decoration: none;
    display: block;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li:hover {
    background-color: rgb(80, 80, 80);
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li:nth-child(1){
    border-radius: 7px 7px 0px 0px;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > a:nth-child(3){
    border-radius: 0px 0px 7px 7px;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > a:nth-child(3):hover{
    background-color: rgba(173, 0, 0, 0.5);
    border-radius: 0px 0px 7px 7px;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div {
    width: 100%;
    height: 45px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(80, 80, 80);
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span {    
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span:hover {    
    scale: 0.9;
    transition: .1s linear;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span:nth-child(1) {    
    background-color: blueviolet;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span:nth-child(2) {    
    background-color: forestgreen;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span:nth-child(3) {    
    background-color: turquoise;
}

header > .musica_lado > nav > .usuario > .container_cor > ul > li > div > span:nth-child(4) {    
    background-color: red;
} */

header > .musica_lado > .area_musica {
    overflow: hidden;
    overflow-y: scroll;
    height: 90%;
}

header > .musica_lado > .area_musica > .conteudo {
    width: 90%;
    height: 8%;
    margin: auto;
    border-bottom: 1px solid white;
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
}

header > .musica_lado > .area_musica > .conteudo > h1 {
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
}

header > .musica_lado > .area_musica > .conteudo > h1 > span {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}

header > .musica_lado > .area_musica > .conteudo > h1 > p {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}

header > .musica_lado > .area_musica > .conteudo > img {
    width: 170px;
    height: 170px;
}

header > .musica_lado > .area_musica > .conteudo > .botoes {
    margin-top: 15px;
    margin-left: 20px;

}

header > .musica_lado > .area_musica > .conteudo > .botoes > button {
    width: 100px;
    height: 30px;
    border: 2px solid rgb(209, 209, 209);
    outline: none;
    border-radius: 20px;
    background: rgba(255, 23, 23, 0.699);
    color: white;
    cursor: pointer;
    transition: .3s linear;
}

header > .musica_lado > .area_musica > .conteudo > .botoes > button:hover {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: rgb(209, 209, 209);
}

header > .musica_lado > .area_musica > .conteudo > .botoes > button:nth-child(2) {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: rgba(255, 23, 23, 0.699);
}

header > .musica_lado > .area_musica > .conteudo > .botoes > button:nth-child(2):hover {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: white;
}

header > .musica_lado > .area_musica > .areaGrafic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

header > .musica_lado > .area_musica > .areaGrafic > .grafico {
    width: 45%;
    margin: 20px 15px;
}

header > .musica_lado > .area_musica > .lista_musicas {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec {
    display: flex;
    flex-wrap: wrap;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas {
    background: rgb(33, 33, 33);
    height: 160px;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s linear;
    margin: 10px 5px;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas:hover {
    background: rgb(80, 80, 80);
    cursor: pointer;

}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_img {
    width: 100%;
    max-height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 2s;
    
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_img > .img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_texto > .bi {
    color: rgba(255, 0, 0, 0.5);
    font-size: 30px;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas:hover > .container_texto > .bi {
    cursor: pointer;
    color: rgba(255, 0, 0);
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_texto {
    height: 90px;
    display: flex;
    align-items: flex-end;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_texto > h5 {
    color: white;
    margin-top: 5px;
    font-size: 16px;
    width: 80%;
    height: 70px;
}


header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;

}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas > .container_img > .bi {
    color: rgb(255, 0, 0);
    font-size: 35px;
    margin: 0px 5px 10px 0px;
    display: none;
    transition: 2s linear;   
    position: relative; 
    bottom: 40px;
}

header > .musica_lado > .area_musica > .lista_musicas > .container_rec > .rec_musicas:hover > .container_img > .bi {
    display: block;
    cursor: pointer;
    transition: 2s linear;
}

header > .musica_lado > .area_musica > .exit{
    position: absolute;
    bottom: 10px;
    left: 15px;
}

header > .musica_lado > .area_musica > .exit > a{
    color: rgba(255, 0, 0, 0.5);
    font-family: Tag;
    letter-spacing: 2px;
    transition: .15s linear;
}

header > .musica_lado > .area_musica > .exit > a:hover{
    color: rgba(173, 0, 0, 0.5);
    font-size: 17px;
}





