@charset "UTF-8";

@font-face {
    font-family: OG;
    src: url(../assets/fontes/OldLondon.ttf);
}
@font-face {
    font-family: Tag;
    src: url(../assets/fontes/WaxedtownGTDemo.ttf);
}

@font-face {
    font-family: Street;
    src: url(../assets/fontes/DOCALLISME\ ON\ STREET.ttf);
}

@font-face {
    font-family: Graffiti;
    src: url(../assets/fontes/GraffitiNewDemoRegular.ttf);
}

@font-face {
    font-family: Letter;
    src: url(../assets/fontes/DonGraffiti.otf);
}

@font-face {
    font-family: Bomb;
    src: url(../assets/fontes/Bomb.otf);
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 23, 23, 0.699);
} 

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    width: 98%;
    height: 98%;
    /* border: 1px solid white; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
}

header > .menu_lado {
    position: relative;
    width: 25%;
    height: 100%;
    /* border: 1px solid rgb(255, 75, 75); */
    background-color: rgb(22, 22, 22);
    /* box-shadow: 5px 0px 2px rgb(255, 75, 75); */
    color: white;
}

header > .menu_lado > h1 {
    font-size: 45px;
    margin: 20px 0px 0px 25px;
    font-weight: 500;
    font-family: Street;
}

header > .menu_lado > .playlist {
    margin: 40px 0px 0px 20px;
}

header > .menu_lado > .playlist > a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: rgb(168, 168, 168);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .2s linear;
    margin-bottom: 5px;
    font-family: Tag;
    letter-spacing: 2px;
}

header > .menu_lado > .playlist > a:hover {
    color: white;
}

header > .menu_lado > .playlist > a > span {
    position: relative;
    margin-right: 25px;
}

header > .menu_lado > .playlist > a > span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 50%;
    top: -4px;
    transition: .2s linear;
}

header > .menu_lado > .playlist > a:hover > span::before {
    border: 2px solid white;
}

header > .menu_lado > .playlist > a > .bi {
    display: none;
}

header > .menu_lado > .playlist > .ativo {
    color: red;
    width: 52px;
}

header > .menu_lado > .playlist > .recomendado {
    width: 82px;
}

header > .menu_lado > .playlist > .recentemente {
    width: 160px;
}

header > .menu_lado > .playlist > .ativo > span {
    display: none;
}

header > .menu_lado > .playlist > .ativo > .bi {
    display: flex;
    margin-right: 20px;
}

header > .menu_lado > .menu_musica {
    width: 94%;
    height: 65%;
    /* border: 1px solid white; */
    margin-top: 35px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header > .menu_lado > .menu_musica > h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Tag;
    letter-spacing: 4px;
    color: red;
}

header > .menu_lado > .menu_musica > li {
    list-style-type: none;
    padding: 7px 0px 7px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

header > .menu_lado > .menu_musica > li:hover {
    background-color: rgba(255, 79, 79, 0.429);
    border-radius: 5px;
}

header > .menu_lado > .menu_musica > li > span {
    font-size: 16px;
    font-weight: 600;
    color: red;
}

header > .menu_lado > .menu_musica > li > .bi {
    display: none;
}
/* 

header > .menu_lado > .menu_musica > li:hover > span {
    display: none;    
} */

header > .menu_lado > .menu_musica > li:hover > .bi {
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: inline;    
    cursor: pointer;
}

header > .menu_lado > .menu_musica > li > img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

header > .menu_lado > .menu_musica > li > h5 {
    font-size: 16px;
    margin-left: 15px;
}

header > .menu_lado > .menu_musica > li > h5 > .subtitulo {
    font-size: 11px;
    color: gray;
}

header > .menu_lado > .menu_musica > li > .detalhe > .bi {
    font-size: 12px;
    margin-right: 5px;
    color: white;
}

header > .menu_lado > .menu_musica > li > .detalhe > .bi:hover {
    font-size: 12px;
    margin-right: 5px;
    color: white;
}


header > .menu_lado > .menu_musica > li > .detalhe {
    position: absolute;
    font-size: 12px;
    right: 15px;
    top: 35%;
}

header > .musica_lado {
    z-index: 2;
    position: relative;
    width: 75%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

header > .musica_lado > nav {
    width: 92%;
    height: 10%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .musica_lado > nav > ul {
    display: flex;
}

header > .musica_lado > nav > ul > li {
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: rgb(142, 142, 142);
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
    font-family: Tag;
    letter-spacing: 2px;
}

header > .musica_lado > nav > ul > li:hover {
    color: white;
}

header > .musica_lado > nav > ul > li:nth-child(1) {
    color: white;
}

header > .musica_lado > nav > ul > li > span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: red;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header > .musica_lado > nav > .procura {
    position: relative;
    width: 55%;
    padding: 1px 0px;
    border-radius: 20px;
    color: white;
}


header > .musica_lado > nav > .procura::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 79, 79, 0.429);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header > .musica_lado > nav > .procura > label > .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
    cursor: text;
}

header > .musica_lado > nav > .procura > input {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 12px;
    width: 92%;
}

header > .musica_lado > nav > .usuario {
    width: 222px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Tag;
    letter-spacing: 2px;
    font-size: 12.5px;
}

header > .musica_lado > nav > .usuario > a{
    text-decoration: none;
    color: rgba(255, 23, 23, 0.699);
    transition: .2s linear;
    font-weight: 600;
}

header > .musica_lado > nav > .usuario > a:hover{
    font-size: 14px;
}

header > .musica_lado > nav > .usuario > a:nth-child(2){
    text-decoration: none;
    background-color: rgb(209, 209, 209);
    padding: 7px;
    border-radius: 15px;
    color: rgba(255, 23, 23, 0.699);
    font-weight: 600;
}

header > .musica_lado > nav > .usuario > a:nth-child(2):hover{
    padding: 7px;
    border-radius: 17px;
}

header > .musica_lado > .area_musica {
    overflow: hidden;
    overflow-y: scroll;
    height: 90%;
}

header > .musica_lado > .area_musica > .conteudo {
    width: 90%;
    height: 20%;
    margin: auto;
    /* border: 1px solid white; */
    padding-top: 20px;
    position: relative;
    bottom: 180px;
}

header > .musica_lado > .area_musica > .conteudo::before {
    content: '';
    width: 100%;
    height: 300px;
    background: url('../assets/imagens/derxan.png');
    background-size: cover;
    background-position: center;
    float: right;
    position: relative;
    border-radius: 30px;
    top: 170px;
    z-index: -9999;
}

header > .musica_lado > .area_musica > .conteudo > .titulo {
    position: relative;
    top: 40px;
}

header > .musica_lado > .area_musica > .conteudo > .titulo > h1 {
    margin-top: 40px;
    font-size: 27px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    font-family: Tag;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}

header > .musica_lado > .area_musica > .conteudo > .titulo > p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 170, 170);
    margin: 5px 5px 10px 5px;
    padding-left: 15px;
    font-family: Tag;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

header > .musica_lado > .area_musica > .conteudo > .botoes {
    position: relative;
    top: 40px;
    margin-top: 15px;
    margin-left: 20px;

}

header > .musica_lado > .area_musica > .conteudo > .botoes > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    border: 2px solid rgb(209, 209, 209);
    outline: none;
    border-radius: 20px;
    background: rgba(255, 23, 23, 0.699);
    color: white;
    cursor: pointer;
    transition: .3s linear;
}

header > .musica_lado > .area_musica > .conteudo > .botoes > a:hover {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: rgb(0, 0, 0);
}

/* 
header > .musica_lado > .area_musica > .conteudo > .botoes > button:nth-child(2) {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: rgba(255, 23, 23, 0.699);
}

header > .musica_lado > .area_musica > .conteudo > .botoes > button:nth-child(2):hover {
    border: 2px solid rgba(255, 23, 23, 0.699);
    border-radius: 20px;
    background: none;
    color: white;
} */

header > .musica_lado > .area_musica > .recomendado {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

header > .musica_lado > .area_musica > .recomendado > .rec_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 60px;
    margin: auto;
}

header > .musica_lado > .area_musica > .recomendado > .rec_header > h4 {
    color: white;
    font-size: 20px;
}
/* 
header > .musica_lado > .area_musica > .recomendado > .rec_header > h4:hover {
    text-decoration: underline;
    cursor: pointer;
} */

header > .musica_lado > .area_musica > .recomendado > .rec_header > span {
    color: rgba(255, 79, 79, 0.429);
    font-size: 14px;
    display: none; /**/
}

header > .musica_lado > .area_musica > .recomendado > .rec_header > span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255, 23, 23, 0.699);
}

header > .musica_lado > .area_musica > .recomendado > .container_rec {
    display: flex;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas {
    background: rgb(33, 33, 33);
    height: 180px;
    width: 125px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s linear;
    margin: 0px 5px;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas:hover {
    background: rgb(80, 80, 80);
    cursor: pointer;

}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img {
    width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 2s;
    
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img > .img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img > .img > .bi {
    color: rgb(255, 0, 0);
    font-size: 35px;
    margin: 0px 5px 10px 0px;
    display: none;
    transition: 2s linear;    
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas:hover > .container_img > .img > .bi {
    display: block;
    cursor: pointer;
    transition: 2s linear;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_texto {
    height: 90px;
    -webkit-mask-image: linear-gradient(black, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_texto > h5 {
    color: white;
    font-size: 16px;
    margin: 5px 0px;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_texto > span {
    color: white;
    font-size: 14px;
    margin: 5px 0px;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;

}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img > .bi {
    color: rgb(255, 0, 0);
    font-size: 35px;
    margin: 0px 5px 10px 0px;
    display: none;
    transition: 2s linear;   
    position: relative; 
    bottom: 40px;
}

header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas:hover > .container_img > .bi {
    display: block;
    cursor: pointer;
    transition: 2s linear;
}


header > .musica_lado > .area_musica > .recomendado > .container_rec > .rec_musicas > .container_img > .img1 {
    height: 50%;
    width: 50%;
    background-position: center;
    background-size: cover;
}


